<div class="wrap">
    <nav class="nav-bar navbar-inverse" style="background-color: darkblue;" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#" style="color: aliceblue;">DAC Forum and Mentor Assessment</a>>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>
            </ul>
        </div>
    </nav>

    <aside id="side-menu" class="aside" role="navigation" style="background-color: darkslateblue;z-index:0">

    <ul class="nav nav-list accordion">

      <li class="nav-header">
        <div class="link" ng-click="goHome();"><i class="	glyphicon glyphicon-home"></i>Home</div>
      </li>

      <li class="nav-header">
        <div class="link" ng-click="goToForum();"><i class="fa fa-lg fa-facebook"></i>Forum</div>

      </li>

      <li class="nav-header">
        <div class="link" ng-click="goToMentorDetails();"><i class="fa fa-lg fa-users"></i>Mentor</div>

      </li>

      <li class="nav-header">
        <div class="link" ng-click="goToUpload();"><i class="fa fa-lg fa-map-marker"></i>Upload</div>
      </li>

       <li class="nav-header">
        <div class="link" ng-click="goToMarks();"><i class="fa fa-lg fa-map-marker"></i>Marks</div>
      </li>
    
    </ul>
  </aside>

    <!--Body content-->
    <div class="content">
        
        <section class="content-inner container" style="background: azure;overflow:scroll;">
            <div class="row">

                <div class="jumbotron form-group" style="width: 50%;margin-left: 25%;margin-top: 2%;background-color: honeydew;">
                    <div>
                        <form action="http://localhost:3008/uploadNewStudent" enctype="multipart/form-data" method="post">
                        <label>Upload Form for Student</label>
                        <input type="file" name="file" ng-model="fileName.file" ng-blur="validate_fileupload($event)">
                        <label style="color:red;" ng-hide="error">Please put .xlsx format</label>
                        <input type="submit" ng-show="errorTwo" class="btn btn-sm btn-primary" style="margin-top: 1%">
                        </form>
                    </div>
                </div>

                <div class="jumbotron form-group" style="width: 50%;margin-left: 25%;margin-top: 2%;background-color: honeydew;">
                    <div>
                        <form action="http://localhost:3008/uploadNewStudentDetails" enctype="multipart/form-data" method="post">
                        <label>Upload Form for Student Details</label>
                        <input type="file" name="file" ng-model="fileName.file" ng-blur="validate_fileupload($event)">
                        <label style="color:red;" ng-hide="error">Please put .xlsx format</label>
                        <input type="submit" ng-show="errorTwo" class="btn btn-sm btn-primary" style="margin-top: 1%">
                        </form>
                    </div>
                </div>

                <div class="jumbotron form-group" style="width: 50%;margin-left: 25%;margin-top: 2%;background-color: honeydew;">
                    <div>
                        <form action="http://localhost:3008/uploadNewMentor" enctype="multipart/form-data" method="post">
                        <label>Upload Form for Mentor</label>
                        <input type="file" name="file" ng-model="fileName.file" ng-blur="validate_fileupload($event)">
                        <label style="color:red;" ng-hide="error">Please put .xlsx format</label>
                        <input type="submit" ng-show="errorTwo" class="btn btn-sm btn-primary" style="margin-top: 1%">
                        </form>
                    </div>
                </div>

                <div class="jumbotron form-group" style="width: 50%;margin-left: 25%;margin-top: 2%;background-color: honeydew;">
                    <div>
                        <form action="http://localhost:3008/uploadNewMentorDetails" enctype="multipart/form-data" method="post">
                        <label>Upload Form for Mentor Details</label>
                        <input type="file" name="file" ng-model="fileName.file" ng-blur="validate_fileupload($event)">
                        <label style="color:red;" ng-hide="error">Please put .xlsx format</label>
                        <input type="submit" ng-show="errorTwo" class="btn btn-sm btn-primary" style="margin-top: 1%">
                        </form>
                    </div>
                </div>

                <div class="jumbotron form-group" style="width: 50%;margin-left: 25%;margin-top: 2%;background-color: honeydew;">
                    <div>
                        <form action="http://localhost:3008/uploadUpdateMentorDetails" enctype="multipart/form-data" method="post">
                        <label>Upload Form for Updating Mentor Details</label>
                        <input type="file" name="file" ng-model="fileName.file" ng-blur="validate_fileupload($event)">
                        <label style="color:red;" ng-hide="error">Please put .xlsx format</label>
                        <input type="submit" ng-show="errorTwo" class="btn btn-sm btn-primary" style="margin-top: 1%">
                        </form>
                    </div>
                </div>


            </div>


    </div>
    </section>
</div>

</div>