<div class="wrap">
    <nav class="nav-bar navbar-inverse" style="background-color: darkblue;" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#" style="color: aliceblue;">DAC Forum and Mentor Assessment</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <!-- <input type="text" class="form-control" placeholder="Search" /> -->
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>
            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation" style="background-color: darkslateblue;z-index:0">

        <ul class="nav nav-list accordion">

            <li class="nav-header">
                <div class="link" ng-click="goHome();"><i class="	glyphicon glyphicon-home"></i>Home</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum();"><i class="fa fa-lg fa-facebook"></i>Forum</div>

            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToMentorDetails();"><i class="fa fa-lg fa-users"></i>Mentor</div>

            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToUpload();"><i class="fa fa-lg fa-map-marker"></i>Upload</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToMarks();"><i class="fa fa-lg fa-map-marker"></i>Marks</div>
            </li>





        </ul>
    </aside>
    <!--Body content-->
    <div class="content">
        <section class="content-inner" style="background: azure;" ng-init="loadAllMentorsDetailsForAdminLogin()">

            <div class="container" style="width:90%">
                <div ng-hide="custom" style="color: black">Insert Successfull</div>
                <div ng-hide="custom1" style="color: red">Insert Fail</div>
            </div>

            
                <div class="row" style="border: blue solid 3px;margin-right: 17px;background-color: honeydew;">
                    <div class="col-sm-10 col-sm-offset-1">
                    <h3 style="font-size: 30px;text-align: center;">Student Marks</h3>
                    
                    <br>
                    <br>
                    <br>
                    <div class="form-group row" >
                            <label for="stdid" style="font-size: 20px;margin-left: 5.7%;" >Student Id:</label>
                            <input type="text" id="stdid" ng-model="data.studentId" style="width: 12%;margin-left: 19%;margin-top: -5%;"
                                class="form-control" required>
                    </div>
                    <br>
                    <br>
                     
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th> Subject Name</th>
                                <th>Lab Marks</th>
                                <th>Mcq Marks</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                    <!-- Modal content-->

                    <form name="myform" ng-submit="adminStudentsMarks()">
                        <div class="form-group row" >
                            <label for="cppLab" style="float: left;margin-left: 8%;margin-top: 1%;" >CPP</label>
                            <input type="text" name="cppLab" ng-model="data.cppLab" style="float: left;width: 12%;margin-left: 28%;"
                                class="form-control" id="cppLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                ng-minlength="1" ng-maxlength="2" required>
                            <input type="text"  ng-model="data.cppMcq"  class="form-control" style="float: left;width: 12%;margin-left: 16%;"
                                id="cppMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                        </div>
                        <div class="form-group row" >
                            <label for="dsLab" style="float: left;margin-left: 5%;margin-top: 1%;">Data Stuctures</label>
                            <input type="text" ng-model="data.dsLab" style="float: left;width: 12%;margin-left: 23.4%;" 
                                class="form-control" id="dsLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.dsMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="dsMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                        <div class="form-group row">
                            <label for="osLab" style="float: left;margin-left: 4%;margin-top: 1%;">Operating System</label>
                            <input type="text" ng-model="data.osLab" style="float: left;width: 12%;margin-left: 22%;" 
                                class="form-control" id="osLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.osMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="osMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                        <div class="form-group row">
                            <label for="coreLab" style="float: left;margin-left: 6%;margin-top: 1%;">Core Java</label>
                            <input type="text" ng-model="data.coreLab" style="float: left;width: 12%;margin-left: 26%;" 
                                class="form-control" id="coreLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.coreMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="coreMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                        <div class="form-group row">
                            <label for="awpLab" style="float: left;margin-left: 8%;margin-top: 1%;">AWP</label>
                            <input type="text" ng-model="data.awpLab" style="float: left;width: 12%;margin-left: 28%;" 
                                class="form-control" id="awpLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.awpMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="awpMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                        <div class="form-group row">
                            <label for="dbtLab" style="float: left;margin-left: 2%;margin-top: 1%;">Database Technologies</label>
                            <input type="text" ng-model="data.dbtLab" style="float: left;width: 12%;margin-left: 20%;" 
                                class="form-control" id="dbtLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.dbtMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="dbtMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                    
                        <div class="form-group row">
                            <label for="advLab" style="float: left;margin-left: 5%;margin-top: 1%;">Advance Java</label>
                            <input type="text" ng-model="data.advLab" style="float: left;width: 12%;margin-left: 24%;" 
                                class="form-control" id="advLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.advMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="advMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>

                        <div class="form-group row">
                            <label for="seLab" style="float: left;margin-left: 2%;margin-top: 1%;">Software Engineering</label>
                            <input type="text" ng-model="data.seLab" style="float: left;width: 12%;margin-left: 21%;" 
                                class="form-control" id="seLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.seMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="seMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                        <div class="form-group row">
                            <label for="netLab" style="float: left;margin-left: 8%;margin-top: 1%;">.Net</label>
                            <input type="text" ng-model="data.netLab" style="float: left;width: 12%;margin-left: 28%;" 
                                class="form-control" id="netLab" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required ng-minlength="1" ng-maxlength="2">
                            <input type="text" ng-model="data.netMcq" style="float: left;width: 12%;margin-left: 16%;"
                                class="form-control" id="netMcq" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                required>
                        </div>
                    
                    </form>
                    <button type="submit" style="margin-top: 5%;margin-bottom: 2%;margin-left: 40%;" class="btn btn-primary" ng-click="insertStudentMarks()">Submit</button>
                </div>
            </div>

        </section>
    </div>

</div>