<div class="wrap">
  <nav class="nav-bar navbar-inverse" style="background-color: darkblue;" role="navigation">
    <div id="top-menu" class="container-fluid active">
      <a class="navbar-brand" href="#" style="color: aliceblue;">DAC Forum and Mentor Assessment</a>
      <ul class="nav navbar-nav">
        <form id="qform" class="navbar-form pull-left" role="search">
          <!-- <input type="text" class="form-control" placeholder="Search" /> -->
          <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
        </form>
      </ul>
    </div>
  </nav>

  <aside id="side-menu" class="aside" role="navigation" style="background-color: darkslateblue;z-index:0">

    <ul class="nav nav-list accordion">

      <li class="nav-header">
        <div class="link" ng-click="goHome();"><i class="	glyphicon glyphicon-home"></i>Home</div>
      </li>

      <li class="nav-header">
        <div class="link" ng-click="goToForum();"><i class="fa fa-lg fa-facebook"></i>Forum</div>

      </li>

      <li class="nav-header">
        <div class="link" ng-click="goToMentorDetails();"><i class="fa fa-lg fa-users"></i>Mentor</div>

      </li>

      <li class="nav-header">
        <div class="link" ng-click="goToUpload();"><i class="fa fa-lg fa-map-marker"></i>Upload</div>
      </li>

       <li class="nav-header">
        <div class="link" ng-click="goToMarks();"><i class="fa fa-lg fa-map-marker"></i>Marks</div>
      </li>
      




    </ul>
  </aside>

  <!--Body content-->
  <div class="content" ng-init="calculateTeamPerformance()">

    <section class="content-inner" style="background: azure;overflow: scroll;">
      <h2>Team Performance</h2>

      <zingchart id="chart1" zc-json="myJson1" zc-width="100%" style="display:block"></zingchart>

      <!--<zingchart id="chart-1" zc-values="myValues" zc-json="myObj"></zingchart>-->

      <!--<zingchart id="chart6" zc-values="teamPerformanceList" zc-json="jsonObjForTeam" zc-type="bar" zc-width="100%" style="display:block"></zingchart>-->
      <!--<zingchart id="chart9" zc-json="myJson2" zc-width="100%" style="display:block"></zingchart>-->

      <h2>Mentor Performance</h2>
      <div zingchart id="chart11" zc-json="myJsonPP" zc-width="100%" zc-height="568px"></div>

      <h2>Class Performance</h2>
      <div zingchart id="chart19" zc-json="demoChart" zc-width="100%" zc-height="568px"></div>

    </section>
  </div>

</div>