<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#" style="color: aliceblue;">DAC Forum and Mentor Assessment</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <!-- <input type="text" class="form-control" placeholder="Search" /> -->
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>
            </ul>
        </div>
    </nav>

    <!-- Notification -->
    <div class="container-fluid navbar-fixed-top" style="margin-top: 0.5%; display: none; pointer-events: none" id="notificationId">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-3">
                <div class="alert alert-success" role="alert">
                    Request for Attendance Sent
                </div>
            </div>
        </div>
    </div>

    <div id="side-menu" role="navigation" style="z-index:0">
        <ul class="nav nav-list accordion">
            <li class="nav-header">
                <div class="link" ng-click="goHome();"><i class="	glyphicon glyphicon-home"></i>Home</div>
            </li>
            <li class="nav-header">
                <div class="link" ng-click="goTeam();"><i class="glyphicon glyphicon-stats"></i>Team Performance</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum()"><i class="glyphicon glyphicon-comment"></i>Forum</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="go();"><i class="glyphicon glyphicon-blackboard"></i>Agenda</div>
            </li>

        </ul>
    </div>

    <!--Body content-->
    <div class="content">
        <!-- <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div> -->
        <section class="content-inner container">
            <div class="jumbotron" ng-init="mentorInit()">
                  <div class="jumbotron">
                <div class="bs-example" ng-init="studentInit()" style="border: 2px solid blue; position: relative;top: 10%; width:80%;left:10%">
                    <table class="table table-hover" style="border:1cm">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mentor Id:</td>
                                <td>{{mentorData.id}}</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Mentor Name</td>
                                <td>{{mentorData.name}}</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Year Of Experiance</td>
                                <td>{{mentorData.yoe}}</td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Contact Number</td>
                                <td>{{mentorData.contact}}</td>

                            </tr>
                            
                            <tr>
                                <td>5</td>
                                <td>Company</td>
                                <td>{{mentorData.company}}</td>

                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Area Of Expertise</td>
                                <td>{{mentorData.aoe}}</td>

                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Batch</td>
                                <td>{{mentorData.batch}}</td>

                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Email</td>
                                <td>{{mentorData.email}}</td>

                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Team Id</td>
                                <td>{{mentorData.teamNo}}</td>

                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </section>

      

    </div>

</div>