<div class="wrap">
    <nav class="nav-bar navbar-inverse" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#">Brand</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>

            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation" style="z-index:0">
        <ul class="nav nav-list accordion">

            <li class="nav-header">
                <div class="link" ng-click="goToStudentHomePage()"><i class="glyphicon glyphicon-home"></i>Home</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentAgendaPage()"><i class="fa fa-lg fa-globe"></i>Agenda</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goTostudentFeedbackForm()"><i class="fa fa-lg fa-users"></i>Feedback</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum()"><i class="fa fa-cloud"></i>Forum</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentMarksTablePage()"><i class="fa fa-lg fa-map-marker"></i>Marks</div>
            </li>
        </ul>
    </aside>

    <!--Body content-->
    <div class="content">
        <div class="top-bar">
            <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>
        </div>
        <section class="content-inner">
            <div class="jumbotron">
                <div class="bs-example" ng-init="studentInit()" style="border: 2px solid blue; position: relative;top: 10%; width:80%;left:10%">
                    <table class="table table-hover" style="border:1cm">
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Student Name:</td>
                                <td>{{studentData.name}}</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Student Rank</td>
                                <td>{{studentData.rank}}</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Address</td>
                                <td>{{studentData.address}}</td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Contact Number</td>
                                <td>{{studentData.contactNo}}</td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Year Of Passing</td>
                                <td>{{studentData.yearofpassing}}</td>

                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Qualification</td>
                                <td>{{studentData.qualification}}</td>

                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Mentor Id</td>
                                <td>{{studentData.mentorId}}</td>

                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Student Id</td>
                                <td>{{studentData.studentId}}</td>

                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Gender</td>
                                <td>{{studentData.gender}}</td>

                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Team Id</td>
                                <td>{{studentData.teamId}}</td>

                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Batch</td>
                                <td>{{studentData.batch}}</td>

                            </tr>
                            <tr>
                                <td>12</td>
                                <td>State</td>
                                <td>{{studentData.state}}</td>

                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Parent Contact Number:</td>
                                <td>{{studentData.parentContact}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

</div>