<div class="wrap">
    <nav class="nav-bar navbar-inverse" style="background-color: darkblue;" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" href="#">DAC Forum and Mentor Assessment</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>

            </ul>
        </div>
    </nav>
    <aside id="side-menu" class="aside" role="navigation" style="background-color: darkslateblue;z-index:0">
        <ul class="nav nav-list accordion">

            <li class="nav-header">
                <div class="link" ng-click="goToStudentHomePage()"><i class="glyphicon glyphicon-home"></i>Home<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentAgendaPage()"><i class="fa fa-lg fa-globe"></i>Agenda<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goTostudentFeedbackForm()"><i class="fa fa-lg fa-users"></i>Feedback<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum()"><i class="fa fa-cloud"></i>Forum<i class="fa fa-chevron-down"></i></div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToStudentMarksTablePage()"><i class="fa fa-lg fa-map-marker"></i>Marks<i class="fa fa-chevron-down"></i></div>
            </li>
        </ul>
    </aside>

    <!--Body content-->
    <div class="content">
        <section class="content-inner container" style="background: azure;overflow:scroll;">

            <div class="row" ng-init="agendaInit()">

                <div class="jumbotron form-group list-group" style="background-color: honeydew;width: 73%;margin-left: 12%;margin-top: 2%;">

                    <label>Previous:</label>

                    <div class="list-group-item" style="background-color: aliceblue;margin-bottom: 2%;height: 14%;" data-ng-repeat="item in postList|orderBy:'agendaDate':true">
                        <div class="row">
                            <label style="margin-top: 1%; color:dodgerblue;">
                            Scheduled Time: {{item.agendaDate}}
                            </label>
                            <blockquote style="border-left: 5px solid cornflowerblue;" >{{item.agendaText}}</blockquote>
                           
                            <br>
                    

                        </div>
                    </div>

                </div>

            </div>


        </section>

    </div>

</div>