<div class="wrap">
    <nav class="nav-bar navbar-inverse" style="background-color: darkblue;" role="navigation">
        <div id="top-menu" class="container-fluid active">
            <a class="navbar-brand" style="color: aliceblue;">DAC Forum and Mentor Assessment</a>
            <ul class="nav navbar-nav">
                <form id="qform" class="navbar-form pull-left" role="search">
                    <button type="button" class="btn btn-outline-info" ng-click="performLogOut()">Logout</button>
                </form>
                <li class="dropdown movable">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="fa fa-4x fa-child"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="fa fa-user"></span>My Profile</a></li>
                        <li><a href="#"><span class="fa fa-gear"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-power-off"></span>Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

    <aside id="side-menu" role="navigation" style="background-color: darkslateblue;z-index:0">
        <ul class="nav nav-list accordion">
            <li class="nav-header">
                <div class="link" ng-click="goHome();"><i class="	glyphicon glyphicon-home"></i>Home</div>
            </li>
            <li class="nav-header">
                <div class="link"><i class="glyphicon glyphicon-stats"></i>Team Performance</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="goToForum()"><i class="glyphicon glyphicon-comment"></i>Forum</div>
            </li>

            <li class="nav-header">
                <div class="link" ng-click="go();"><i class="glyphicon glyphicon-blackboard"></i>Agenda</div>
            </li>

        </ul>
    </aside>

    <!--Body content-->
    <div class="content" ng-init="calculateTeamPerformance()">
        <!-- <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div> -->
        <section class="content-inner container-fluid" style="overflow: scroll;background: azure;">
            <div class="jumbotron" style="background-color: honeydew;width: 80%;margin-left: 9%;margin-top: 4%;padding-top: 1%;">
                <div class="row" id="refIdForContent">
                    <div class=" col-sm-6">
                        <h2>Team Performance</h2>
                        <zingchart id="chart1" zc-values="teamPerformanceList" zc-type="bar" zc-width="100%" style="display:block"></zingchart>

                    </div>
                </div>

                <h2>Team Members</h2>
                <table class="table table-hover" ng-init="teamInit()">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Year of Passing</th>
                            <th>Qualification</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in teamList">
                        <tr>
                            <td>{{item.rank}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.yearofpassing}}</td>
                            <td>{{item.qualification}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>

    </div>
    </section>


</div>

</div>